@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;

}

html, body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Playfair Display', serif;

    background-color: var(--background-home);

}

:root {
    --background-home: #f9f9f9;
    --background-header: #222227;
    --background-sidebar: #191919;
    --background-brown: #edeae6;

    --button-light-brown: #9e8a78;

    --text-white: #fbfbfb;
    --text-black: #222222;
    --text-gray: #999999;

    --box-shadow: #000000;

    --hr: #c1c1c1;

}

/*SIDEBAR*/
#sideBar {
    position: fixed;

    width: 20%;
    height: 100vh;

    margin-left: -22%;

    background-color: var(--background-sidebar);

    box-shadow: 0px 0px 5px -2px var(--box-shadow);

    transition: margin-left, .5s;

}

#sideBar nav {
    width: 100%;
    height: auto;

}

#sideBar nav #img {
    width: 100%;
    height: auto;

    background-color: var(--background-sidebar);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#sideBar nav #img img {
    padding: 5%;

    width: 46%;
    height: auto;

}

#sideBar nav #img h1 {
    padding: 1%;

    width: 98%;
    height: auto;

    font-size: 50px;
    font-weight: 400;

    color: var(--button-light-brown);

    text-align: center;

    text-transform: uppercase;

}

#sideBar nav #img h2 {
    padding: 1%;

    width: 98%;
    height: auto;

    font-size: 14px;
    font-weight: 400;

    font-family: 'Montserrat', sans-serif;

    color: var(--button-light-brown);

    text-align: center;

    text-transform: uppercase;

}

#sideBar nav ul {
    width: 100%;
    height: auto;

    list-style: none;

    font-family: 'Montserrat', sans-serif;

}

#sideBar nav ul a {
    text-decoration: none;

}

#sideBar nav ul a li {
    padding: 5%;
    margin: 1%;

    width: 88%;
    height: auto;

    font-size: 20px;
    font-weight: 600;

    color: var(--button-light-brown);

    transition: background-color, color, .5s;

}

#sideBar nav ul a li:hover {
    background-color: var(--button-light-brown);

    color: var(--text-white);

}

/*CONTAINER*/
#container {
    width: 100%;
    height: auto;

    /* background-color: antiquewhite; */

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

/*HEADER*/
#container #header {
    width: 100%;
    height: auto;

    background-color: var(--background-header);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #header #itensHeader {
    padding: 1%;

    width: 58%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*ICON - MENU*/
#container #header #itensHeader #menu {
    padding: 1%;

    width: 18%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: left;

    cursor: pointer;

}

#container #header #itensHeader #menu img {
    padding: 6%;

    width: 12%;
    height: auto;

    background-color: var(--background-sidebar);

    border-radius: 5px;

}

/*ICON - FRANQUIA*/
#container #header #itensHeader #franquia {
    width: 60%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #header #itensHeader #franquia a {
    width: 20%;
    height: auto;

}

#container #header #itensHeader #franquia a img {
    width: 100%;
    height: auto;

}

/*ICON - CONTATOS*/
#container #header #itensHeader #contatosIcons {
    padding: 1%;

    width: 15%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: blue; */

}

#container #header #itensHeader #contatosIcons a {
    width: 25%;
    height: auto;

    color: azure;

    text-decoration: none;

}

#container #header #itensHeader #contatosIcons a img {
    padding: 30%;

    width: 60%;
    height: auto;

    color: azure;

    /* background-color: var(--background-sidebar); */

}

#container hr {
    width: 68%;
    height: auto;

    border-top: 2px solid var(--hr);
    border-left: 0px solid var(--background-header);
    border-right: 0px solid var(--background-header);
    border-bottom: 0px solid var(--background-header);

}

/*SECTION*/
#container #section {
    padding: 1%;
    margin-top: 10%;
    margin-bottom: 10%;

    width: 58%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: blueviolet; */

}

/*TRABALHOS*/
#container #section #trabalhos {
    padding: 3%;

    width: 54%;
    height: auto;

    text-align: center;

    /* background-color: cadetblue; */

}

#container #section #trabalhos h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;

    color: var(--text-gray);

    text-transform: uppercase;

}

#container #section #trabalhos h2 {
    font-size: 40px;
    font-weight: 600;

    color: var(--text-black);

}

#container #section #imgsTrabalhos {
    padding: 1%;

    width: 38%;
    height: auto;

}

#container #section #imgsTrabalhos a {
    width: 100%;
    height: auto;

    text-decoration: none;

}

#container #section #imgsTrabalhos a img {
    width: 100%;
    height: auto;

}

/*GALERIA*/
#container #sectionGaleria {
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 4%;

    width: 58%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: blueviolet; */

}

#container #sectionGaleria #galeria {
    padding: 1%;

    width: 98%;
    height: auto;

    /* background-color: yellowgreen; */

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#container #sectionGaleria #galeria h1 {
    padding: 1%;

    width: 98%;
    height: auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;

    color: var(--text-black);

    text-transform: uppercase;

}

#container #sectionGaleria #galeria #imgGaleria {
    padding: 1%;

    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: violet; */

}

#container #sectionGaleria #galeria #imgGaleria a {
    padding: 1%;

    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    text-decoration: none;

    /* background-color: violet; */

}

#container #sectionGaleria #galeria #imgGaleria a:hover {
    text-decoration: none;

}

#container #sectionGaleria #galeria #imgGaleria img {
    flex: 1; 

    padding: 0.2%;

    width: 19.8%;
    height: auto;

}

/*LOCALIDADE*/
#container #sectionLocalidade {
    margin-bottom: -4px;

    width: 100%;
    height: auto;

}

#container #sectionLocalidade h1 {
    padding: 2%;

    width: 96%;
    height: auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;

    color: var(--text-black);

    text-transform: uppercase;
    text-align: center;

}

#container #sectionLocalidade #localidade {
    width: 100%;
    height: auto;

}

#container #sectionLocalidade #localidade iframe {
    width: 100%;
    height: 80vh;

}

/*CONTATOS*/
/* #container #contatos {
    width: 100%;
    height: auto;

    background-color: var(--box-shadow);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #contatos #campoContato {
    width: 60%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #contatos #campoContato #logo {
    width: 50%;
    height: auto;

}

#container #contatos #campoContato #logo #img {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#container #contatos #campoContato #logo #img img {
    padding: 5%;

    width: 26%;
    height: auto;

}

#container #contatos #campoContato #logo #img h1 {
    padding: 1%;

    width: 38%;
    height: auto;

    font-size: 30px;
    font-weight: 400;

    color: var(--button-light-brown);

    text-align: center;

    text-transform: uppercase;

}

#container #contatos #campoContato #logo #img h2 {
    padding: 1%;

    width: 58%;
    height: auto;

    font-size: 14px;
    font-weight: 400;

    font-family: 'Montserrat', sans-serif;

    color: var(--button-light-brown);

    text-align: center;

    text-transform: uppercase;

}

#container #contatos #campoContato #logo #img #contatosEpresa {
    padding: 5%;

    width: 68%;
    height: auto;

}

#container #contatos #campoContato #logo #img #contatosEpresa p {
    padding: 1%;

    width: 98%;
    height: auto;

    font-size: 14px;
    font-weight: 400;

    font-family: 'Montserrat', sans-serif;

    color: var(--button-light-brown);

}

#container #contatos #campoContato #horarios {
    width: 50%;
    height: auto;

}

#container #contatos #campoContato #horarios nav {
    width: 100%;
    height: auto;

    text-align: center;

}

#container #contatos #campoContato #horarios nav ul {
    list-style: none;

    width: 100%;
    height: auto;

}

#container #contatos #campoContato #horarios nav li {
    padding: 2%;

    width: 96%;
    height: auto;

    font-size: 14px;
    font-weight: 400;

    font-family: 'Montserrat', sans-serif;

    color: var(--button-light-brown);

} */

/*FOOTER*/
#container #footer {
    width: 100%;
    height: auto;

    background-color: var(--background-sidebar);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #footer #banner {
    width: 70%;
    height: 50vh;

    background-image: url(../img/NewBarber_banner.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 110%;

}

#container #footer #banner img {
    width: 100%;
    height: auto;

}

#container #footer #contatosBanner {
    padding: 2%;

    width: 26%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;

}

#container #footer #contatosBanner #titulo {
    padding: 1%;
    margin-bottom: 5%;

    width: 98%;
    height: auto;

    color: var(--text-white);

    text-transform: uppercase;

    font-size: 20px;
    font-weight: 600;

}

#container #footer #contatosBanner ul {
    width: 100%;
    height: auto;

    list-style: none;

}

#container #footer #contatosBanner ul li {
    padding: 1%;

    width: 98%;
    height: auto;

    font-size: 16px;
    font-weight: 400;

    color: var(--text-white);

}

#container #footer #contatosBanner p {
    padding: 1%;
    margin-top: 10%;

    width: 98%;
    height: auto;

    color: var(--text-white);

    font-size: 16px;
    font-weight: 400;

}

@media(min-width: 768px) and (max-width: 1023px){
    /*SIDEBAR*/
    #sideBar {
        position: fixed;

        width: 20%;
        height: 100vh;

        margin-left: -22%;

        background-color: var(--background-sidebar);

        box-shadow: 0px 0px 5px -2px var(--box-shadow);

        transition: margin-left, .5s;

    }

    #sideBar nav {
        width: 100%;
        height: auto;

    }

    #sideBar nav #img {
        width: 100%;
        height: auto;

        background-color: var(--background-sidebar);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #sideBar nav #img img {
        padding: 5%;

        width: 46%;
        height: auto;

    }

    #sideBar nav #img h1 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 25px;
        font-weight: 400;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #sideBar nav #img h2 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 8px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #sideBar nav ul {
        width: 100%;
        height: auto;

        list-style: none;

        font-family: 'Montserrat', sans-serif;

    }

    #sideBar nav ul a {
        text-decoration: none;

    }

    #sideBar nav ul a li {
        padding: 5%;
        margin: 1%;

        width: 88%;
        height: auto;

        font-size: 8px;
        font-weight: 600;

        color: var(--button-light-brown);

        transition: background-color, color, .5s;

    }

    #sideBar nav ul a li:hover {
        background-color: var(--button-light-brown);

        color: var(--text-white);

    }

    /*CONTAINER*/
    #container {
        width: 100%;
        height: auto;

        /* background-color: antiquewhite; */

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    /*HEADER*/
    #container #header {
        width: 100%;
        height: auto;

        background-color: var(--background-header);

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #header #itensHeader {
        padding: 1%;

        width: 58%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    /*ICON - MENU*/
    #container #header #itensHeader #menu {
        padding: 1%;

        width: 18%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: left;

        cursor: pointer;

    }

    #container #header #itensHeader #menu img {
        padding: 6%;

        width: 20%;
        height: auto;

        background-color: var(--background-sidebar);

        border-radius: 5px;

    }

    /*ICON - FRANQUIA*/
    #container #header #itensHeader #franquia {
        width: 60%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #header #itensHeader #franquia a {
        width: 40%;
        height: auto;

    }

    #container #header #itensHeader #franquia a img {
        width: 100%;
        height: auto;

    }

    /*ICON - CONTATOS*/
    #container #header #itensHeader #contatosIcons {
        padding: 1%;

        width: 15%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        /* background-color: blue; */

    }

    #container #header #itensHeader #contatosIcons a {
        width: 40%;
        height: auto;

        color: azure;

        text-decoration: none;

    }

    #container #header #itensHeader #contatosIcons a img {
        padding: 5%;

        width: 80%;
        height: auto;

        color: azure;

        /* background-color: var(--background-sidebar); */

    }

    #container hr {
        width: 68%;
        height: auto;

        border-top: 2px solid var(--hr);
        border-left: 0px solid var(--background-header);
        border-right: 0px solid var(--background-header);
        border-bottom: 0px solid var(--background-header);

    }

    /*SECTION*/
    #container #section {
        padding: 1%;
        margin-top: 10%;
        margin-bottom: 10%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        /* background-color: blueviolet; */

    }

    /*TRABALHOS*/
    #container #section #trabalhos {
        padding: 3%;

        width: 54%;
        height: auto;

        text-align: center;

        /* background-color: cadetblue; */

    }

    #container #section #trabalhos h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 600;

        color: var(--text-gray);

        text-transform: uppercase;

    }

    #container #section #trabalhos h2 {
        font-size: 30px;
        font-weight: 600;

        color: var(--text-black);

    }

    #container #section #imgsTrabalhos {
        padding: 1%;

        width: 38%;
        height: auto;

    }

    #container #section #imgsTrabalhos a {
        width: 100%;
        height: auto;

        text-decoration: none;

    }

    #container #section #imgsTrabalhos a img {
        width: 100%;
        height: auto;

    }

    /*GALERIA*/
    #container #sectionGaleria {
        padding: 1%;
        margin-top: 4%;
        margin-bottom: 4%;

        width: 78%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        /* background-color: blueviolet; */

    }

    #container #sectionGaleria #galeria {
        padding: 1%;

        width: 98%;
        height: auto;

        /* background-color: yellowgreen; */

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #container #sectionGaleria #galeria h1 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 700;

        color: var(--text-black);

        text-transform: uppercase;

    }

    #container #sectionGaleria #galeria #imgGaleria {
        padding: 1%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        /* background-color: violet; */

    }

    #container #sectionGaleria #galeria #imgGaleria a {
        padding: 1%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-wrap: wrap;

        text-decoration: none;

        /* background-color: violet; */

    }

    #container #sectionGaleria #galeria #imgGaleria a:hover {
        text-decoration: none;

    }

    #container #sectionGaleria #galeria #imgGaleria img {
        flex: 1; 

        padding: 0.2%;

        width: 19.8%;
        height: auto;

    }

    /*LOCALIDADE*/
    #container #sectionLocalidade {
        margin-bottom: -4px;

        width: 100%;
        height: auto;

    }

    #container #sectionLocalidade h1 {
        padding: 2%;

        width: 96%;
        height: auto;

        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 700;

        color: var(--text-black);

        text-transform: uppercase;
        text-align: center;

    }

    #container #sectionLocalidade #localidade {
        width: 100%;
        height: auto;

    }

    #container #sectionLocalidade #localidade iframe {
        width: 100%;
        height: 40vh;

    }

    /*CONTATOS*/
    /* #container #contatos {
        width: 100%;
        height: auto;

        background-color: var(--box-shadow);

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #contatos #campoContato {
        width: 60%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #contatos #campoContato #logo {
        width: 50%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #container #contatos #campoContato #logo #img img {
        padding: 5%;

        width: 26%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img h1 {
        padding: 1%;

        width: 38%;
        height: auto;

        font-size: 30px;
        font-weight: 400;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #container #contatos #campoContato #logo #img h2 {
        padding: 1%;

        width: 58%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #container #contatos #campoContato #logo #img #contatosEpresa {
        padding: 5%;

        width: 68%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img #contatosEpresa p {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

    }

    #container #contatos #campoContato #horarios {
        width: 50%;
        height: auto;

    }

    #container #contatos #campoContato #horarios nav {
        width: 100%;
        height: auto;

        text-align: center;

    }

    #container #contatos #campoContato #horarios nav ul {
        list-style: none;

        width: 100%;
        height: auto;

    }

    #container #contatos #campoContato #horarios nav li {
        padding: 2%;

        width: 96%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

    } */

    /*FOOTER*/
    #container #footer {
        width: 100%;
        height: auto;

        background-color: var(--background-sidebar);

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #footer #banner {
        width: 70%;
        height: 30vh;

        background-image: url(../img/NewBarber_banner.jpg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    #container #footer #banner img {
        width: 100%;
        height: auto;

    }

    #container #footer #contatosBanner {
        padding: 2%;

        width: 26%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        font-family: 'Montserrat', sans-serif;

    }

    #container #footer #contatosBanner #titulo {
        padding: 1%;
        margin-bottom: 1%;

        width: 98%;
        height: auto;

        color: var(--text-white);

        text-transform: uppercase;

        font-size: 16px;
        font-weight: 600;

    }

    #container #footer #contatosBanner ul {
        width: 100%;
        height: auto;

        list-style: none;

    }

    #container #footer #contatosBanner ul li {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 12px;
        font-weight: 400;

        color: var(--text-white);

    }

    #container #footer #contatosBanner p {
        padding: 1%;
        margin-top: 1%;

        width: 98%;
        height: auto;

        color: var(--text-white);

        font-size: 14px;
        font-weight: 400;

    }
}

@media(min-width: 361px) and (max-width: 767px){
    /*SIDEBAR*/
    #sideBar {
        position: fixed;

        width: 30%;
        height: 100vh;

        margin-left: -32%;

        background-color: var(--background-sidebar);

        box-shadow: 0px 0px 5px -2px var(--box-shadow);

        transition: margin-left, .5s;

    }

    #sideBar nav {
        width: 100%;
        height: auto;

    }

    #sideBar nav #img {
        width: 100%;
        height: auto;

        background-color: var(--background-sidebar);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #sideBar nav #img img {
        padding: 5%;

        width: 46%;
        height: auto;

    }

    #sideBar nav #img h1 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 18px;
        font-weight: 400;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #sideBar nav #img h2 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 6px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #sideBar nav ul {
        width: 100%;
        height: auto;

        list-style: none;

        font-family: 'Montserrat', sans-serif;

    }

    #sideBar nav ul a {
        text-decoration: none;

    }

    #sideBar nav ul a li {
        padding: 5%;
        margin: 1%;

        width: 88%;
        height: auto;

        font-size: 8px;
        font-weight: 600;

        color: var(--button-light-brown);

        transition: background-color, color, .5s;

    }

    #sideBar nav ul a li:hover {
        background-color: var(--button-light-brown);

        color: var(--text-white);

    }

    /*CONTAINER*/
    #container {
        width: 100%;
        height: auto;

        /* background-color: antiquewhite; */

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    /*HEADER*/
    #container #header {
        width: 100%;
        height: auto;

        background-color: var(--background-header);

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #header #itensHeader {
        padding: 1%;

        width: 58%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    /*ICON - MENU*/
    #container #header #itensHeader #menu {
        padding: 1%;

        width: 18%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        /* background-color: aqua; */

    }

    #container #header #itensHeader #menu img {
        padding: 1%;

        width: 28%;
        height: auto;

        background-color: var(--background-sidebar);

        border-radius: 0px;

        z-index: 1;

    }

    /*ICON - FRANQUIA*/
    #container #header #itensHeader #franquia {
        width: 60%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #header #itensHeader #franquia a {
        width: 50%;
        height: auto;

    }

    #container #header #itensHeader #franquia a img {
        width: 100%;
        height: auto;

    }

    /*ICON - CONTATOS*/
    #container #header #itensHeader #contatosIcons {
        padding: 1%;

        width: 18%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        /* background-color: blue; */

    }

    #container #header #itensHeader #contatosIcons a {
        width: 30%;
        height: auto;

        color: azure;

        text-decoration: none;

    }

    #container #header #itensHeader #contatosIcons a img {
        padding: 0%;

        width: 100%;
        height: auto;

        color: azure;

        /* background-color: var(--background-sidebar); */

    }

    #container hr {
        width: 68%;
        height: auto;

        border-top: 2px solid var(--hr);
        border-left: 0px solid var(--background-header);
        border-right: 0px solid var(--background-header);
        border-bottom: 0px solid var(--background-header);

    }

    /*SECTION*/
    #container #section {
        padding: 1%;
        margin-top: 10%;
        margin-bottom: 10%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        /* background-color: blueviolet; */

    }

    /*TRABALHOS*/
    #container #section #trabalhos {
        padding: 3%;

        width: 94%;
        height: auto;

        text-align: center;

        /* background-color: cadetblue; */

    }

    #container #section #trabalhos h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 600;

        color: var(--text-gray);

        text-transform: uppercase;

    }

    #container #section #trabalhos h2 {
        font-size: 25px;
        font-weight: 600;

        color: var(--text-black);

    }

    #container #section #imgsTrabalhos {
        padding: 1%;

        width: 38%;
        height: auto;

    }

    #container #section #imgsTrabalhos a {
        width: 100%;
        height: auto;

        text-decoration: none;

    }

    #container #section #imgsTrabalhos a img {
        width: 100%;
        height: auto;

    }

    /*GALERIA*/
    #container #sectionGaleria {
        padding: 1%;
        margin-top: 0%;
        margin-bottom: 0%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        /* background-color: blueviolet; */

    }

    #container #sectionGaleria #galeria {
        padding: 1%;

        width: 98%;
        height: auto;

        /* background-color: yellowgreen; */

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #container #sectionGaleria #galeria h1 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 700;

        color: var(--text-black);

        text-transform: uppercase;

    }

    #container #sectionGaleria #galeria #imgGaleria {
        padding: 1%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        /* background-color: violet; */

    }

    #container #sectionGaleria #galeria #imgGaleria a {
        padding: 1%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-wrap: wrap;

        text-decoration: none;

        /* background-color: violet; */

    }

    #container #sectionGaleria #galeria #imgGaleria a:hover {
        text-decoration: none;

    }

    #container #sectionGaleria #galeria #imgGaleria img {
        flex: 1; 

        padding: 0.2%;

        width: 19.8%;
        height: auto;

    }

    /*LOCALIDADE*/
    #container #sectionLocalidade {
        margin-bottom: -4px;

        width: 100%;
        height: auto;

    }

    #container #sectionLocalidade h1 {
        padding: 2%;

        width: 96%;
        height: auto;

        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 700;

        color: var(--text-black);

        text-transform: uppercase;
        text-align: center;

    }

    #container #sectionLocalidade #localidade {
        width: 100%;
        height: auto;

    }

    #container #sectionLocalidade #localidade iframe {
        width: 100%;
        height: 30vh;

    }

    /*CONTATOS*/
    /* #container #contatos {
        width: 100%;
        height: auto;

        background-color: var(--box-shadow);

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #contatos #campoContato {
        width: 60%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #contatos #campoContato #logo {
        width: 50%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #container #contatos #campoContato #logo #img img {
        padding: 5%;

        width: 26%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img h1 {
        padding: 1%;

        width: 38%;
        height: auto;

        font-size: 30px;
        font-weight: 400;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #container #contatos #campoContato #logo #img h2 {
        padding: 1%;

        width: 58%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #container #contatos #campoContato #logo #img #contatosEpresa {
        padding: 5%;

        width: 68%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img #contatosEpresa p {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

    }

    #container #contatos #campoContato #horarios {
        width: 50%;
        height: auto;

    }

    #container #contatos #campoContato #horarios nav {
        width: 100%;
        height: auto;

        text-align: center;

    }

    #container #contatos #campoContato #horarios nav ul {
        list-style: none;

        width: 100%;
        height: auto;

    }

    #container #contatos #campoContato #horarios nav li {
        padding: 2%;

        width: 96%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

    } */

    /*FOOTER*/
    #container #footer {
        width: 100%;
        height: auto;

        background-color: var(--background-sidebar);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #container #footer #banner {
        width: 100%;
        height: 25vh;

        background-image: url(../img/NewBarber_banner.jpg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    #container #footer #banner img {
        width: 100%;
        height: auto;

    }

    #container #footer #contatosBanner {
        padding: 2%;

        width: 96%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        font-family: 'Montserrat', sans-serif;

    }

    #container #footer #contatosBanner #titulo {
        padding: 1%;
        margin-bottom: 1%;

        width: 98%;
        height: auto;

        color: var(--text-white);

        text-transform: uppercase;

        font-size: 14px;
        font-weight: 600;

    }

    #container #footer #contatosBanner ul {
        width: 100%;
        height: auto;

        list-style: none;

    }

    #container #footer #contatosBanner ul li {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 10px;
        font-weight: 400;

        color: var(--text-white);

    }

    #container #footer #contatosBanner p {
        padding: 1%;
        margin-top: 1%;

        width: 98%;
        height: auto;

        color: var(--text-white);

        font-size: 14px;
        font-weight: 400;

    }
}

@media(max-width: 360px){
    /*SIDEBAR*/
    #sideBar {
        position: fixed;

        width: 30%;
        height: 100vh;

        margin-left: -32%;

        background-color: var(--background-sidebar);

        box-shadow: 0px 0px 5px -2px var(--box-shadow);

        transition: margin-left, .5s;

    }

    #sideBar nav {
        width: 100%;
        height: auto;

    }

    #sideBar nav #img {
        width: 100%;
        height: auto;

        background-color: var(--background-sidebar);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #sideBar nav #img img {
        padding: 5%;

        width: 46%;
        height: auto;

    }

    #sideBar nav #img h1 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 18px;
        font-weight: 400;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #sideBar nav #img h2 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 6px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #sideBar nav ul {
        width: 100%;
        height: auto;

        list-style: none;

        font-family: 'Montserrat', sans-serif;

    }

    #sideBar nav ul a {
        text-decoration: none;

    }

    #sideBar nav ul a li {
        padding: 5%;
        margin: 1%;

        width: 88%;
        height: auto;

        font-size: 8px;
        font-weight: 600;

        color: var(--button-light-brown);

        transition: background-color, color, .5s;

    }

    #sideBar nav ul a li:hover {
        background-color: var(--button-light-brown);

        color: var(--text-white);

    }

    /*CONTAINER*/
    #container {
        width: 100%;
        height: auto;

        /* background-color: antiquewhite; */

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    /*HEADER*/
    #container #header {
        width: 100%;
        height: auto;

        background-color: var(--background-header);

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #header #itensHeader {
        padding: 1%;

        width: 58%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    /*ICON - MENU*/
    #container #header #itensHeader #menu {
        padding: 1%;

        width: 18%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        /* background-color: aqua; */

    }

    #container #header #itensHeader #menu img {
        padding: 1%;

        width: 28%;
        height: auto;

        background-color: var(--background-sidebar);

        border-radius: 0px;

        z-index: 1;

    }

    /*ICON - FRANQUIA*/
    #container #header #itensHeader #franquia {
        width: 60%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #header #itensHeader #franquia a {
        width: 50%;
        height: auto;

    }

    #container #header #itensHeader #franquia a img {
        width: 100%;
        height: auto;

    }

    /*ICON - CONTATOS*/
    #container #header #itensHeader #contatosIcons {
        padding: 1%;

        width: 18%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        /* background-color: blue; */

    }

    #container #header #itensHeader #contatosIcons a {
        width: 30%;
        height: auto;

        color: azure;

        text-decoration: none;

    }

    #container #header #itensHeader #contatosIcons a img {
        padding: 0%;

        width: 100%;
        height: auto;

        color: azure;

        /* background-color: var(--background-sidebar); */

    }

    #container hr {
        width: 68%;
        height: auto;

        border-top: 2px solid var(--hr);
        border-left: 0px solid var(--background-header);
        border-right: 0px solid var(--background-header);
        border-bottom: 0px solid var(--background-header);

    }

    /*SECTION*/
    #container #section {
        padding: 1%;
        margin-top: 10%;
        margin-bottom: 10%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        /* background-color: blueviolet; */

    }

    /*TRABALHOS*/
    #container #section #trabalhos {
        padding: 3%;

        width: 94%;
        height: auto;

        text-align: center;

        /* background-color: cadetblue; */

    }

    #container #section #trabalhos h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 600;

        color: var(--text-gray);

        text-transform: uppercase;

    }

    #container #section #trabalhos h2 {
        font-size: 25px;
        font-weight: 600;

        color: var(--text-black);

    }

    #container #section #imgsTrabalhos {
        padding: 1%;

        width: 38%;
        height: auto;

    }

    #container #section #imgsTrabalhos a {
        width: 100%;
        height: auto;

        text-decoration: none;

    }

    #container #section #imgsTrabalhos a img {
        width: 100%;
        height: auto;

    }

    /*GALERIA*/
    #container #sectionGaleria {
        padding: 1%;
        margin-top: 0%;
        margin-bottom: 0%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        /* background-color: blueviolet; */

    }

    #container #sectionGaleria #galeria {
        padding: 1%;

        width: 98%;
        height: auto;

        /* background-color: yellowgreen; */

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #container #sectionGaleria #galeria h1 {
        padding: 1%;

        width: 98%;
        height: auto;

        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 700;

        color: var(--text-black);

        text-transform: uppercase;

    }

    #container #sectionGaleria #galeria #imgGaleria {
        padding: 1%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        /* background-color: violet; */

    }

    #container #sectionGaleria #galeria #imgGaleria a {
        padding: 1%;

        width: 98%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-wrap: wrap;

        text-decoration: none;

        /* background-color: violet; */

    }

    #container #sectionGaleria #galeria #imgGaleria a:hover {
        text-decoration: none;

    }

    #container #sectionGaleria #galeria #imgGaleria img {
        flex: 1; 

        padding: 0.2%;

        width: 19.8%;
        height: auto;

    }

    /*LOCALIDADE*/
    #container #sectionLocalidade {
        margin-bottom: -4px;

        width: 100%;
        height: auto;

    }

    #container #sectionLocalidade h1 {
        padding: 2%;

        width: 96%;
        height: auto;

        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 700;

        color: var(--text-black);

        text-transform: uppercase;
        text-align: center;

    }

    #container #sectionLocalidade #localidade {
        width: 100%;
        height: auto;

    }

    #container #sectionLocalidade #localidade iframe {
        width: 100%;
        height: 30vh;

    }

    /*CONTATOS*/
    /* #container #contatos {
        width: 100%;
        height: auto;

        background-color: var(--box-shadow);

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #contatos #campoContato {
        width: 60%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container #contatos #campoContato #logo {
        width: 50%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #container #contatos #campoContato #logo #img img {
        padding: 5%;

        width: 26%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img h1 {
        padding: 1%;

        width: 38%;
        height: auto;

        font-size: 30px;
        font-weight: 400;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #container #contatos #campoContato #logo #img h2 {
        padding: 1%;

        width: 58%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

        text-align: center;

        text-transform: uppercase;

    }

    #container #contatos #campoContato #logo #img #contatosEpresa {
        padding: 5%;

        width: 68%;
        height: auto;

    }

    #container #contatos #campoContato #logo #img #contatosEpresa p {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

    }

    #container #contatos #campoContato #horarios {
        width: 50%;
        height: auto;

    }

    #container #contatos #campoContato #horarios nav {
        width: 100%;
        height: auto;

        text-align: center;

    }

    #container #contatos #campoContato #horarios nav ul {
        list-style: none;

        width: 100%;
        height: auto;

    }

    #container #contatos #campoContato #horarios nav li {
        padding: 2%;

        width: 96%;
        height: auto;

        font-size: 14px;
        font-weight: 400;

        font-family: 'Montserrat', sans-serif;

        color: var(--button-light-brown);

    } */

    /*FOOTER*/
    #container #footer {
        width: 100%;
        height: auto;

        background-color: var(--background-sidebar);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #container #footer #banner {
        width: 100%;
        height: 25vh;

        background-image: url(../img/NewBarber_banner.jpg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    #container #footer #banner img {
        width: 100%;
        height: auto;

    }

    #container #footer #contatosBanner {
        padding: 2%;

        width: 96%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        font-family: 'Montserrat', sans-serif;

    }

    #container #footer #contatosBanner #titulo {
        padding: 1%;
        margin-bottom: 1%;

        width: 98%;
        height: auto;

        color: var(--text-white);

        text-transform: uppercase;

        font-size: 14px;
        font-weight: 600;

    }

    #container #footer #contatosBanner ul {
        width: 100%;
        height: auto;

        list-style: none;

    }

    #container #footer #contatosBanner ul li {
        padding: 1%;

        width: 98%;
        height: auto;

        font-size: 10px;
        font-weight: 400;

        color: var(--text-white);

    }

    #container #footer #contatosBanner p {
        padding: 1%;
        margin-top: 1%;

        width: 98%;
        height: auto;

        color: var(--text-white);

        font-size: 14px;
        font-weight: 400;

    }
}